.stars {
    display: flex;
    font-size: 20px;
    min-height: 20px;
    flex-wrap: wrap;

    &__star {
        color: var(--stars-filled-background-color);
    }

    &__star--outlined {
        color: var(--stars-outlined-background-color);
    }
}
