.stars {
    display: flex;
    font-size: 20px;
    min-height: 20px;
    flex-wrap: wrap;

    &__star {
        padding: 0 0.1rem;
        color: var(--stars-filled-background-color);
        &--outlined {
            color: var(--stars-outlined-background-color);
        }
    }
}
