:root {
    /* Background */
    --body-background-color: #f0f0f0;

    /* Inputs */
    --input-background-color: #ffffff;
    --input-border-color: #333333;

    /* Buttons */
    --button-background-color: #0074D9;
    --button-border-color: #0074D9;
    --button-background-hover-color: #0066be;
    --button-color: #ffffff;

    /* Sorter */
    --sorter-background-color: #ffffff;
    --sorter-background-hover-color: #e0e0e0;

    /* Movies Result */
    --movies-result-background-color: #ffffff;
    --movies-result-border-color: #333333;
    --movies-result-list-border-color: #333333;
    --movies-result-list-li-background-hover-color: #f0f0f0;

    /* Footer */
    --footer-background-color: #111111;
    --footer-color: #ffffff;

    /* Stars */
    --stars-filled-background-color: #faaf03;
    --stars-outlined-background-color: #ffb300;

    /* Ratings */
    --ratings-li-color: #3584f5;
    --ratings-li-border-color: #3584f5;

    /* Other */
    --highlight-background-color: #ff9632;
}
